@charset "UTF-8";
/* CSS Document */

body{
	background-image: url(assets/subtle_dots.png);
}

.wrapper {
	width: 960px;
	margin: 0 auto;
}

header {
	width: 81%;
	margin: 0 auto;
	padding: 30px 0 10px 0;
	border-bottom: dotted 2px silver;
}

.shim {
	clear:both;
}

section {
	width: 85%;
	margin: 50px auto;
}

img {
	display: block;
	margin: 0 auto;
}

h2 span.address:after{
	content: ' | ';
}

/*------------------typography------------------*/

h1{
	text-align: center;
	text-transform:uppercase;
	font-family: "ff-cocon-web-pro",sans-serif;
	font-weight: 700;
	font-size: 350%;
	margin: 10px 0;
}

h2 {
	color: #9f8c72;
	text-align: center;
	line-height: 150%;
	font-family: "ff-cocon-web-pro",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 100%;
	margin: 10px 0;
}

h3 {
	text-align: center;
	text-transform:uppercase;
	font-family: "ff-cocon-web-pro",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 200%;
	margin: 15px 0;
}

h4 {
	color: #9f8c72;
	text-align: center;
	text-transform:uppercase;
	font-family: "ff-cocon-web-pro",sans-serif;
	font-weight: 700;
	font-size: 130%;
	margin: 10px 0;
}

h5 {
	line-height: 150%;
	font-family: "ff-cocon-web-pro",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 100%;
	margin: 10px 0;
}

h6 {
	color:#669999;
	text-transform:uppercase;
	font-family: "ff-cocon-web-pro",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 90%;
	margin: 20px 0 10px 0;
}

dt {
	line-height: 150%;
	font-family: "ff-cocon-web-pro",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 100%;
	margin: 10px 0;
}

dd {
	font-family: "minion-pro", minion pro, serif;
	font-style: normal;
	font-weight: 400;
	font-size: 100%;
	line-height: 160%;
}


li {
	font-family: "minion-pro", minion pro, serif;
	font-style: normal;
	font-weight: 400;
	font-size: 100%;
	line-height: 160%;
}

p {
	font-family: "minion-pro", minion pro, serif;
	font-style: normal;
	font-weight: 400;
	font-size: 100%;
	line-height: 160%;
}

a {
	color:#669999;
	text-decoration: none;
}


/*------------------Qualificaitons------------------*/

section#qualifications div {
	width: 33%;
	margin: 25px auto;
	float: left;
	border-left: dotted 1px silver;
}

section#qualifications div ul {
	text-align:center;
}

/*------------------Education------------------*/

section#education dl {
	width: 29%;
	margin: 20px 33px 0 0;
	float: left;
}

dl#right {
	margin-right:0;
}

/*------------------Experiences------------------*/

section#experience div{
	margin: 50px 0;
}

section#experience div ul li{
	margin: 10px 0;
}


/*------------------Footer------------------*/

footer {
	width: 85%;
	margin: 30px auto;
	padding: 40px 0;
	text-align: center;
	border-top: dotted 2px silver;
}

footer p {
	line-height: 150%;
	font-family: "ff-cocon-web-pro",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 100%;
	margin: 10px 0;
}
