//--------------------------------------------------------------
// Colors
//-------------------------------------------------------------

$color-blue: #21759b;
$color-dark-gray: #666666;
$color-darker-gray: #333333;
$color-darkest-gray: #777777;
$color-light-gray: #cccccc;
$color-lighter-gray: #e6e6e6;
$color-whitesmoke: #f1f1f1;
$color-light-yellow: #fff9c0;
$color-black: #000000;
$color-white: #ffffff;

$color-background-body: $color-white;
$color-background-screen-reader: $color-whitesmoke;
$color-background-hr: $color-light-gray;
$color-background-button: #272727;
$color-background-input: #fafafa;

$color-background-menu: #111111;

$color-text-screen-reader: $color-blue;
$color-text-input: $color-dark-gray;
$color-text-input-focus: $color-darkest-gray;
$color-link: #4a4a4a;
$color-link-visited: $color-blue;
$color-link-hover: #111;
$color-link-menu-hover: #999;
$color-text-main: $color-darkest-gray;

$color-border-input: $color-light-gray;
$color-border-abbr: $color-dark-gray;