@charset "UTF-8";
/* CSS Document */

body { 
	background-image: url(canvas.jpg);
}

h1 a{
	display: block;
	width: 300px;
	padding: 20px;
	margin: 10px auto;
	text-align:center;
	background-color:#fff;
	background-image: -moz-radial-gradient(50% 50%, circle closest-corner, white, rgba(107,159,212,0.5));
	/*background-image: -webkit-linear-gradient(white, black);*/
	background-image: -webkit-gradient(linear, 0 0, 0 90%,
	from(rgba(107,159,212,0.5)),
	to(white));
	-webkit-box-shadow:0px 0px 10px rgba(0,0,0,0.5);
	-moz-box-shadow:0px 0px 10px rgba(0,0,0,0.5);
	box-shadow:0px 0px 10px rgba(0,0,0,0.5);
}

h2 a{
	display: block;
	width: 300px;
	padding: 20px;
	margin: 10px auto;
	text-align:center;
	background-color:#fff;
	background-image: -moz-radial-gradient(50% 50%, circle closest-corner, white, rgba(107,159,212,0.5));
	/*background-image: -webkit-linear-gradient(white, black);*/
	background-image: -webkit-gradient(linear, 0 0, 0 70%,
	from(rgba(107,159,212,0.5)),
	to(white));
	-webkit-box-shadow:0px 0px 10px rgba(0,0,0,0.5);
	-moz-box-shadow:0px 0px 10px rgba(0,0,0,0.5);
	box-shadow:0px 0px 10px rgba(0,0,0,0.5);
}

h3 a{
	display: block;
	width: 300px;
	padding: 20px;
	margin: 10px auto;
	text-align:center;
	background-color:#fff;
	background-image: -moz-radial-gradient(50% 50%, circle closest-corner, white, rgba(107,159,212,0.5));
	/*background-image: -webkit-linear-gradient(white, black);*/
	background-image: -webkit-gradient(linear, 0 0, 0 50%,
	from(rgba(107,159,212,0.5)),
	to(white));
	-webkit-box-shadow:0px 0px 10px rgba(0,0,0,0.5);
	-moz-box-shadow:0px 0px 10px rgba(0,0,0,0.5);
	box-shadow:0px 0px 10px rgba(0,0,0,0.5);
}

h4 a{
	display: block;
	width: 300px;
	padding: 20px;
	margin: 10px auto;
	text-align:center;
	background-color:#fff;
	background-image: -moz-radial-gradient(50% 50%, circle closest-corner, white, rgba(107,159,212,0.5));
	/*background-image: -webkit-linear-gradient(white, black);*/
	background-image: -webkit-gradient(linear, 0 0, 0 30%,
	from(rgba(107,159,212,0.5)),
	to(white));
	-webkit-box-shadow:0px 0px 10px rgba(0,0,0,0.5);
	-moz-box-shadow:0px 0px 10px rgba(0,0,0,0.5);
	box-shadow:0px 0px 10px rgba(0,0,0,0.5);
}

h5 a{
	display: block;
	width: 300px;
	padding: 20px;
	margin: 10px auto;
	text-align:center;
	background-color:#fff;
	background-image: -moz-radial-gradient(50% 50%, circle closest-corner, white, rgba(107,159,212,0.5));
	/*background-image: -webkit-linear-gradient(white, black);*/
	background-image: -webkit-gradient(linear, 0 0, 0 20%,
	from(rgba(107,159,212,0.5)),
	to(white));
	-webkit-box-shadow:0px 0px 10px rgba(0,0,0,0.5);
	-moz-box-shadow:0px 0px 10px rgba(0,0,0,0.5);
	box-shadow:0px 0px 10px rgba(0,0,0,0.5);
}

h6 a{
	display: block;
	width: 300px;
	padding: 20px;
	margin: 10px auto;
	text-align:center;
	background-color:#fff;
	-webkit-box-shadow:0px 0px 10px rgba(0,0,0,0.5);
	-moz-box-shadow:0px 0px 10px rgba(0,0,0,0.5);
	box-shadow:0px 0px 10px rgba(0,0,0,0.5);
}

h1 a:hover{
	display: block;
	width: 300px;
	padding: 20px;
	margin: 10px auto;
	text-align:center;
	background-color:#fff;
	background-image: -moz-radial-gradient(50% 50%, circle closest-corner, white, rgba(107,159,212,0.5));
	/*background-image: -webkit-linear-gradient(white, black);*/
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	from(rgba(107,159,212,0.5)),
	to(white));
	-webkit-box-shadow:0px 0px 5px rgba(0,0,0,0.5);
	-moz-box-shadow:0px 0px 5px rgba(0,0,0,0.5);
	box-shadow:0px 0px 5px rgba(0,0,0,0.5);
}

h2 a:hover{
	display: block;
	width: 300px;
	padding: 20px;
	margin: 10px auto;
	text-align:center;
	background-color:#fff;
	background-image: -moz-radial-gradient(50% 50%, circle closest-corner, white, rgba(107,159,212,0.5));
	/*background-image: -webkit-linear-gradient(white, black);*/
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	from(rgba(107,159,212,0.5)),
	to(white));
	-webkit-box-shadow:0px 0px 5px rgba(0,0,0,0.5);
	-moz-box-shadow:0px 0px 5px rgba(0,0,0,0.5);
	box-shadow:0px 0px 5px rgba(0,0,0,0.5);
}

h3 a:hover{
	display: block;
	width: 300px;
	padding: 20px;
	margin: 10px auto;
	text-align:center;
	background-color:#fff;
	background-image: -moz-radial-gradient(50% 50%, circle closest-corner, white, rgba(107,159,212,0.5));
	/*background-image: -webkit-linear-gradient(white, black);*/
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	from(rgba(107,159,212,0.5)),
	to(white));
	-webkit-box-shadow:0px 0px 5px rgba(0,0,0,0.5);
	-moz-box-shadow:0px 0px 5px rgba(0,0,0,0.5);
	box-shadow:0px 0px 5px rgba(0,0,0,0.5);
}


h4 a:hover{
	display: block;
	width: 300px;
	padding: 20px;
	margin: 10px auto;
	text-align:center;
	background-color:#fff;
	background-image: -moz-radial-gradient(50% 50%, circle closest-corner, white, rgba(107,159,212,0.5));
	/*background-image: -webkit-linear-gradient(white, black);*/
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	from(rgba(107,159,212,0.5)),
	to(white));
	-webkit-box-shadow:0px 0px 5px rgba(0,0,0,0.5);
	-moz-box-shadow:0px 0px 5px rgba(0,0,0,0.5);
	box-shadow:0px 0px 5px rgba(0,0,0,0.5);
}


h5 a:hover{
	display: block;
	width: 300px;
	padding: 20px;
	margin: 10px auto;
	text-align:center;
	background-color:#fff;
	background-image: -moz-radial-gradient(50% 50%, circle closest-corner, white, rgba(107,159,212,0.5));
	/*background-image: -webkit-linear-gradient(white, black);*/
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	from(rgba(107,159,212,0.5)),
	to(white));
	-webkit-box-shadow:0px 0px 5px rgba(0,0,0,0.5);
	-moz-box-shadow:0px 0px 5px rgba(0,0,0,0.5);
	box-shadow:0px 0px 5px rgba(0,0,0,0.5);
}

h6 a:hover{
	display: block;
	width: 300px;
	padding: 20px;
	margin: 10px auto;
	text-align:center;
	background-color:#fff;
	-webkit-box-shadow:0px 0px 5px rgba(0,0,0,0.5);
	-moz-box-shadow:0px 0px 5px rgba(0,0,0,0.5);
	box-shadow:0px 0px 5px rgba(0,0,0,0.5);
}

a { 
	text-decoration: none;
	color: black; 
}
