@charset "UTF-8";

body {
	background-image:url(assets/backimage.jpg), url(assets/old_mathematics.png);
	background-repeat: repeat-x, repeat;
	height: 10px;
	box-shadow: 1px 1px 2px #888888;
	-webkit-box-shadow: 1px 1px 2px #888888;
	-moz-box-shadow: 1px 1px 2px #888888;
	-ms-box-shadow: 1px 1px 2px #888888;
	-o-box-shadow: 1px 1px 2px #888888;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
/*background-image: url(assets/960_grid_16_col.jpg);
	background-repeat: no-repeat;
	background-position: top center;*/
}

.wrapper-mid-content {
	width: 100%;
	background-color: #105898;
	box-shadow: 2px 2px 10px #888888;
	-webkit-box-shadow: 2px 2px 10px #888888;
	-moz-box-shadow: 2px 2px 3px #888888;
	-ms-box-shadow: 2px 2px 3px #888888;
	-o-box-shadow: 2px 2px 3px #888888;
}

#boxcontent {
	width: 960px;
	margin: 0 auto; 
}

.shim {
	clear: both;
}

/*---------------- typography -----------------*/

h1 {
	font-family: "futura-pt", sans-serif;
	font-size: 18pt;
	margin:20px 20px 0 20px;
	color:#A67C52;
	line-height:1.2em;
}

h2 {
	font-family: "futura-pt", sans-serif;
	font-size: 14pt;
	margin-bottom: 10px;
}

p {
	font-size: 10pt;
	line-height: 1.3em;
}

a {
	text-decoration:none;
	font-family: "futura-pt", sans-serif;
	color: #a67c52;
}

h4 {
	font-family: "futura-pt", sans-serif;
	font-size:9pt;
	margin: 10px 0 2px 0;
}

ul li {font-size: 9pt;}

#sidebar {
	font-family: "futura-pt", sans-serif;
	text-align:center;
}

#sidebar nav {
	font-size: 12pt;
	color: black;
	text-decoration: none;
}

#sidebar img {
	margin-bottom: 20px;
}

#sidebar aside ul li {
	font-size: 8pt;
}

#sidebar aside ul {
	margin: 15px 0 25px 0;
}

#sidebar aside h2 {
	display: block;
	margin: 20px 0 10px 0;
	color: #105899;
}

section.content article p {
	padding: 10px 20px 0 20px;
}

section.content article h2 {
	color: #a67c52;
	padding: 10px 10px 0 10px;
}

section.content aside {
	font-size: 10pt;
	padding: 10px 0 0 10px;
}

section.content footer {
	font-size: 9pt;
}


footer h2 {color:#105898;}

.footer-job h2, .footer-statement h2, .footer-events h2 {color: #A67C52;}

.footer-job ul li{margin: 0 0 5px 0;}

.footer-job p{margin: 0 0 10px 0;}

.footer-events ul li{margin: 0 0 10px 0;}


/*-------------------- nav -------------------*/

#sidebar nav { margin-bottom: 30px;}

#sidebar nav ol li a{
	display: block;
	width: 180px;
	padding: 5px 0 5px 0;
	margin: 0 0 10px 25px;
	border-bottom: solid 1px #a67c52;
	color: black;
}

#sidebar nav ol li a:hover{
	display: block;
	width: 180px;
	border-bottom: solid 1px #105899;
	color: #105899;
}

#secondarynav {
	display: block;
	width: 125px;
	margin: 0 0 0 250px;
	padding-top: 20px;
}

#bottomnav {
	display: block;
	width: 500px;
	float: left;
	margin: 5px 0 5px 0;
}

#secondarynav a {
	display: block;
	float: left;
	margin: 0 10px 0 0;
}


/*------------------- form -------------------*/

#submit {color: #10589C;}

#submit2 {color: #10589C;}

/*----------------- content ------------------*/

#sidebar {
	display: block;
	width: 228px;
	float: left;
	position:absolute;
	top: 0;
	background-color: white;
	border: solid thin #105899;
	border-radius: 0 0 3px 3px;
	box-shadow: -1px 1px 1px #888888;
	-webkit-box-shadow: -1px 1px 1px #888888;
	-moz-box-shadow: -1px 1px 1px #888888;
	-ms-box-shadow: -1px 1px 1px #888888;
	-o-box-shadow: -1px 1px 1px #888888;
}


#sidebar aside ul li{
	display: block;
	width: 200px;
	padding: 2px 0 0 0;
	margin: 0 0 5px 10px;
}

section.hero { 
    width: 750px;
	height: auto;
	text-align: right; 
	float: left;
	margin: 0 0 10px 250px;
}

section.hero img {
	border:solid 5px #105898;
}

section.content {
	display: block;
	width: 960px;
	float: left;
}

section.content article {
	display: block;
	width: 340px;
	float: left;
	margin: 30px 0 50px 20px;
	background-color: white;
}

section.content article aside {
	margin: 0 0 0 20px;
	padding: 0;
}

section.content #article1, section.content #article1b { margin-left: 250px;}

section.content img {
	margin: 10px 0 10px 20px;
}

#boxcontent {
	background-color:#105898;
	background-repeat:repeat-x;
}

.herocaption {
	  display: block;
	  position: absolute;
	  z-index: 10;
	  top: 365px;
	  left:768px;
	  width: 325px;
	  margin: 10px;
	  background-color: rgba(6,36,68,.75);
}

.herocaption h2 {
	font-family: "futura-pt", sans-serif;
	font-size: 14pt;
	font-weight: bold;
	text-align:left;
	margin: 10px;
	color:#A97C52;
}

.herocaption p {
	font-family: "futura-pt", sans-serif;
	font-size: 10pt;
	margin: 10px;
	color: #CCC;
	text-align:left;
}
  
/*----------------- footer ------------------*/

section.content footer.catergories, footer.catergores p {
	padding: 0;
	margin: 10px 20px 10px 20px;;
}

footer { margin-left: 70px; }


.footer-job {
	display: block;
	width: 222px;
	float: left;
	margin: 20px 0 0 20px;
}

.footer-statement {
	display: block;
	width: 283px;
	float: left;
	margin: 20px 0 0 0;
}

.footer-events {
	display: block;
	width: 283px;
	float: left;
	margin: 20px 0 0 20px;
}

.footer-newsletter {
	display: block;
	width: 283px;
	float: left;
	margin: 20px 0 0 0;
}

.footer-sponsors {
	display: block;
	width: 222px;
	float: left;
	margin: 20px 0 0 20px;
}

.footer-sponsors a {
	display: block;
	float: left;
	margin: 0 10px 0 0;
}

.footer-social {
	display: block;
	width: 283px;
	float: left;
	margin: 20px 0 0 20px;
}

.footer-social a {
	display: block;
	float: left;
	margin: 0 20px 0 0;
}

.footer-credits {
	display: block;
	width: 350px;
	float: left;
	margin: 20px 0 30px 20px;
}

/*-------------- hero --------------*/

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  position: absolute;
  display: none;
  width: 92%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
  
  
  /*----------------- page ------------------*/
  
  section.content #article1b {
	  width: 680px;
	  float:left;
  }
  
  section.content #article1b p.smallcolumn{
	  display: block;
	  width:300px;
	  float:left;
  }